<!--http://127.0.0.1:8000/main/list/-->
{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
        <head>
            <style type="text/css">
                a{text-decoration:none;color:black; !important}

            </style>
        </head>

        <body style="text-align:center;">
            <h2 style="margin-top:12%">공지 사항</h2>
            <div id="notice_board" style="display:inline-block;width:90%;border-top:2px solid #171717; margin:30px 0 30px 0">
            <!--notice 게시판의 모든 글 불러오기&출력-->
            {% for notice in notices.all %}
            <br>
            <div id="notice_link" style="display:inline-block;width:95%;height:50px;border-bottom: 1px solid #848484;">
            <a href="{{notice.link}}" style="float:left;margin-left:20px;">{{ notice.title }}</a> <span style="float:right;margin-right:30px;color:848484">{{ notice.date }}</span>
            </div><br>
            {% endfor %}
            </div>
            <br>
            <!--superuser에게만 글쓰기 권한 주기-->
            {% if user.is_superuser %}
                <a style="float:right; margin-right:10%;box-shadow: 1px 1px 3px;border:1px solid;width:80px;height:30px;line-height:30px;display:inline-block;border-radius:5px; " href="{% url 'mainapp:notice_register' %}">글쓰기</a><br>
            {% endif %}
        </body>
    </html>


{% endblock %}